@charset "uft-8";
#main_header{width:100%;}
#main_gnb_wrap{width:100;
			   border-bottom: 1px solid lightgray;
			   height:30px;}
#main_gnb{width:980px; margin:0 auto;
          /*background: #ccc*/;}
#gnb{}
#gnb>ul{float:right;}
#gnb>ul:after{overflow:hidden;}
#gnb>ul>li{display:table-cell;position:relative;}
#gnb>ul>li>a{display: block;padding:0 10px;
			line-height: 26px;height:26px;
		    text-align:center;color:gray;}
#gnb>ul>li>a:hover{color:black;}
#gnb>ul>li>a:before{content:"";display: block;
					border-left:1px solid lightgray;
				    width:1px;height:15px;
					position:absolute;
					top:7px;left:-1px;}
				    
#logo_wrap{width:980px;margin:0 auto;
		   position: relative;height:90px;
		   padding-top:7px;}
#logo_wrap>h1{width:250px;margin:0 auto;
             color:steelblue;}
#logo_wrap>div.toggle{position:absolute;
					top:5px;right:0;}